@import '../../style_components/colors';

.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  h1 {
    font-size: 36px;
    font-weight: 100;
    color: $text-color-image-start;
  }

  p {
    color: #667781;
    text-align: center;
    font-size: 12px;
  }
}
