$background-top: #00a884;
$background-root: #eae6df;
$backgroundCenterContent: #f0f2f5;
$border-color: #e9edef;
$svg-color: #54656f;
$backgroundInput: #f0f2f5;
$text-color: #3b4a54;
$text-color-image-start: #41525d;
$background-message: #d9fdd3;
